@import "bootstrap/scss/bootstrap.scss";

body {
    background-color: lightgray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.form_scrollable-checkboxes {
    height: 8rem;
    overflow: scroll;
}

form {
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
    }
}